# Use direnv's layout for Python 3.10
# --system-site-packages is required to access ROS 2 libraries installed via apt
layout python python3.10 --system-site-packages

# Source ROS 2 and Workspace
source /opt/ros/humble/setup.bash
[ -f install/setup.bash ] && source install/setup.bash
